{% extends 'base.html' %} {% block content %}

<script>

// create pouchDB to store song lyrcs
var db = new PouchDB('songLyrics',{auto_compaction: true});

var timeOutVar; // number milli seconds to the next check for video elapsed time
var pollCount = 0; // counter to select milliseconds between video lyrics
var songName; // Name of Song Playing
var songPointsTotal; // Total Song Points

//python api musixmatch video lyrics with timings
var songData = JSON.parse({{ lyrics|tojson|safe }});

// list of durations for youtube steam progress polling

// intermediate array to first select all lyric starttimes
var startTimesArray = [0];

// end point for calculation of difference between elements in 'startTimesArray'
var pollingIntervals = [];

// loop over times dictionary to create an intermediate array of start times

for (var p in songData[0]) {

  startTimesArray.push(songData[0][p]['timeStart'])

}

// loop over the intermediate array of start times to create an array of
// durations between song lines which is used to determine the time to poll
// the playing video stream

for (var i = 1; i < startTimesArray.length; i++) {

  difference = startTimesArray[i] - startTimesArray[i-1];

  pollingIntervals.push(difference);
}

// 2. This code loads the IFrame Player API code asynchronously.
// code marked with numbers 2 - 5 are taken from https://developers.google.com/youtube/iframe_api_reference
 var tag = document.createElement('script');

 tag.src = "https://www.youtube.com/iframe_api";
 var firstScriptTag = document.getElementsByTagName('script')[0];
 firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

 // 3. This function creates an <iframe> (and YouTube player)
 //    after the API code downloads.
 var player;
 function onYouTubeIframeAPIReady() {
   player = new YT.Player('player', {
     height: '390',
     width: '640',
     videoId: '{{ value }}',
     events: {
       'onReady': onPlayerReady,
       'onStateChange': onPlayerStateChange
     }
   });
 }

 // 4. The API will call this function when the video player is ready
 // and set the duration to the first polling event
 function onPlayerReady(event) {

   // update the video heading to show song name
   document.getElementById( "video-title" ).innerText = player.getVideoData().title;
   // store songname to be used to write username, song name, score
   // to 'songs_scores.txt'
   songName = player.getVideoData().title;

   // destroy DB to make sure only the current song is stored
   db.destroy('songLyrics').then(function(){
     db = new PouchDB('songLyrics');
   }).then(addLyrics); // load current video lyrics to DB

   // set the next number of milli sconds to wait until checking
   // video time elapsed by calling gameOperation function
   timeOutVar = setTimeout(gameOperation,pollingIntervals[pollCount]);

 }

 // 5. The API calls this function when the player's state changes.
 //    The function indicates that when the video finishes the
 //    'songLyrics' database is destroyed and recreated.

 function onPlayerStateChange(event) {
   if (event.data == YT.PlayerState.PLAYING) {

    // clear current period for next polling
    clearTimeout(timeOutVar);

    // set next number milli seconds to next iteration
    // of the gameOperation function
    timeOutVar = setTimeout(gameOperation,pollingIntervals[pollCount]);

    gameOperation();

    // query songLyrics DB using current iteration ID
    findLyric(songData[1][pollCount]['_id']);

   }

   // if the player is paused stop polling
   if (event.data === 2){
     clearTimeout(timeOutVar);
   }


   // When the video stops playing stop the polling
   if(event.data === 0) {

      // stop the polling
      clearTimeout(timeOutVar);

      // Write out data to file if we have a logged in user
      if (getCookieName('user_name')) {
        // write out the user, song name, and song points
        writeOutDataToFile('/song_score',getCookieName('user_name') + "," + songName + "," + songPointsTotal);
      }


   }

 }

 function htmlDecode(input) {
   var doc = new DOMParser().parseFromString(input, "text/html");
   return doc.documentElement.textContent;
 };

 function gameOperation() {

   // check video player for current time elapsed
   var sec = player.getCurrentTime(Number);


   if ( sec*1000 >= pollingIntervals[pollCount] ) {

     // select current lyric for video stream & score users answer

     findLyric(songData[1][pollCount]['_id']);

     clearTimeout(timeOutVar);
     // stop polling and the end of the song and exit function
     if (pollCount > pollingIntervals.length) {
       return;
     }

    // increment pollCount by 1 for next duration
    pollCount++;

    timeOutVar = setTimeout(gameOperation,pollingIntervals[pollCount]);

   } else {
     // check the first iteration has completed before setting 1000 milli second polling to resync states
     if (pollCount > 0 ){
       // set duration of the wait for the next poll to 1000 milli seconds to allow for time elapsed issues due to network.
       clearTimeout(timeOutVar);
       timeOutVar = setTimeout(gameOperation,1000);
     }
   }


 };

function addLyrics() {

  db.bulkDocs(songData[1])
    .then(
      function () {
        return db.createIndex({index: {fields: ['_id','lyric']}});

      }).catch(console.error.bind(console));

};

function findLyric(currentID) {

  db.find({
    selector: {_id: currentID},
    fields: ['lyric']
  }).then(function (result) {
    // If lyric is found use it to move the game forward by;
    // updatng the UI with the answer
    var decodeString = htmlDecode(result.docs[0]['lyric']);
    document.getElementById("answer-text").innerText = decodeString;

    // get the users answer
    var userString = document.getElementById("user-answer").value;

    // compare user answer and song lyric
    evaluateAnswer(window.location.protocol + '//' + window.location.host + '/evaluate_answer',userString,decodeString);

  }).catch(function (err) {
    // ouch, an error
    console.log(err);
  });

};

function evaluateAnswer(URL,userString,songString) {

  var url = URL;

  // The data we are going to send in our request

  let data = {
    lyricAnswer: songString,
    stringToBeEvaluated: userString
  }

  // The parameters we are gonna pass to the fetch function

  let fetchData = {
      method: 'POST',
      body: JSON.stringify(data),
      headers: new Headers()
  }

  fetch(url,fetchData)
    .then(
      function(response) {
        if (response.status !== 200) {
          console.log('Looks like there was a problem. Status Code: ' + //console.error
            response.status);
          return;
        }

        // Examine the text in the response
        response.json().then(function(data) {

          // Update the points for the individual answer
          document.getElementById( "answer-points" ).innerText = data.score
            + " points";

          // Wipe the user answer text which has been evaluated and scored
          document.getElementById( "user-answer" ).value = "";

          // Create a running total for the song
          songPointsTotal = Number(document.getElementById( "song-points" ).innerText)
            + Number(data.score);

          // Update the screen to show the running total for the song
          document.getElementById( "song-points" ).innerText = songPointsTotal;

          // is the user is logged in
          if (getCookieName('user_name')){
            if (data.score > 0) {
              // add the new points to the existing total
              var latestUserTotal = Number(
                document.getElementById( "total-points" ).innerText)
                + Number(data.score);
              // store above product to cookie
              setCookie('total_score', latestUserTotal);
              document.getElementById( "total-points" ).innerText = latestUserTotal;
            }
          }

        });
      }
    )
    .catch(function(err) {
      console.log('Fetch Error :-S', err);
    });
}

</script>


<!-- Page Content -->
<div class="container">

    <!-- Member Scores  Row -->
    <h3 class="my-4 pt-5">Top Players</h3>

    <div class="row">
      <div class="col-12 mb-3">
        <div class="card text-red d-none h-100 justify-content-center align-items-center" id="flash-message-box">
            <div class="mr-5">
              <span>Please allow cookies for login and video</span>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      {% for key,value in users_history.items() %}
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white {{ loop.cycle('bg-primary', 'bg-warning'
          , 'bg-success', 'bg-danger') }} o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-comments"></i>
              </div>
              <div class="mr-5 leaderboard-name">{{ key }}</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left"><span data-toggle="collapse" data-target="#individual-song-scores{{ loop.index }}">View Scores</span><div id="individual-song-scores{{ loop.index }}" class="collapse">
                {% for song in value %}
                  <li> {{ song }} </li>
                {% endfor %}
              </div></span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      {% endfor %}

    </div>
    <!-- /.row -->

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">
    <small id="video-title">Video Loading</small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8 pb-4" id="player" allowfullscreen="0">

    </div>

    <div class="col-md-4">
      <h3 class="my-3">How to play</h3>
      <ol>
        <li>Start the video</li>
        <li>Enter the next line in the text box before we show you the answer in blue text</li>
        <li>The closer you get to the next line of the song the higher the score</li>
        <li>Good Luck!</li>
      </ol>
      <h5 class="my-3">Type the next line</h5>
      <div class="input-group input-group-sm py-md-1 w-100 pl-2">
        <input type="text" id="user-answer" class="form-control" placeholder="Enter the song line" aria-label="username login" aria-describedby="basic-addon2">
      </div>
      <ul>
        <li>Answer: <span id="answer-text"></span></li>
        <li id="answer-points">0 points</li>
        <li>Total Song Points: <span id="song-points">0</span></li>
      </ul>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}
